@import url('font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* LIGHT */
  --light1: #ffffff;
  --light2: #f7f7f7;
  --light3: #ebebeb;
  --light4: #a5a4a4;
  /* DARK */
  --dark1: #1a1a1a;
  --dark2: #585858;
  --dark3: #767676;
  --dark4: #7b7b7b;
  /* BLUE */
  --blue1: #0146ee;
  --blue2: #3e66df;
  --blue3: #b9c8f3;
  /* GREY */
  --grey1: #434343;

  /* GRADIENTS LIGHT */
  --overlay-light: linear-gradient(
    107.54deg,
    #f1f4f9 34.53%,
    rgba(241, 244, 249, 0) 100%
  );
  /* GRADIENTS DARK */
  --overlay-dark1: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  --overlay-dark2: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40.46%,
    #000000 100%
  );
  --overlay-dark3: linear-gradient(
    267.1deg,
    rgba(0, 0, 0, 0) 59.52%,
    #000000 136.62%
  );
  --overlay-dark4: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 46.71%,
    #000000 104.89%
  );
  /* GRADIENTS BLUE */
  --overlay-blue1: linear-gradient(137.88deg, #3a7af8 -22.26%, #1429e3 88.52%);
  --overlay-blue2: linear-gradient(131.17deg, #2a4cb1 0.35%, #0027b1 138.05%);

  /* BACKGROUND */
  --bg-light-radial: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --bg-dark-radial: radial-gradient(
    111.24% 111.49% at -11.24% -8.2%,
    #181818 0%,
    #000000 100%
  );
  --bg-blue-radial: radial-gradient(
    208.93% 207.13% at 21.61% 4.35%,
    #004bff 0%,
    #000510 100%
  );
}

body {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--light1);
}

/* container */
.container {
  width: 100%;
  @apply mx-auto;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.home-hero {
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  width: 100vw;
  height: 2102px;
  background-position: center right;
  position: relative;
}
.home-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.6;
  z-index: 4;
}

/* ANIMATED BTN */

/* BUTTON UP */
.label-up {
  display: block;
  margin: 0px 30px;
  height: 100%;
  position: relative;
  top: 0%;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.animateBtn:hover .label-up {
  top: -100%;
}
